:host {
    width: 100%; 
    max-width: var(--max-page-width); 

    margin: 32px 16px; 
    border-radius: 8px;

    color: #CCCCCC;
    background-color: #272822; 

    display: flex; 
    flex-flow: column nowrap;
}

typewriter-text {
    margin: 28px 0; 
    padding: 0 32px; 
}

section-divider {
    margin-bottom: 12px; 
    padding: 0 32px; 
}

div:not(#skills) {
    display: flex; 
    flex-flow: column-reverse nowrap;
    justify-content: center; 
    align-items: center; 
}

app-entry {
    margin-bottom: 48px; 
}

#skills, 
ul {
    transition: padding .2s ease; 
}

#skills {
    padding: 0 48px 32px 48px; 
}

ul {
    margin: 0; 
    padding: 0 16px; 
}

li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    
    margin-bottom: 6px; 
}
  
li::before {
    content: "•";
    margin-right: 8px;

    color: #CCCCCC;
}

/* Queries */

@media screen and (max-width: 630px) {    
    #skills {
        padding: 0 24px 32px 24px; 
    }
}

@media screen and (max-width: 515px) {
    typewriter-text {
        margin: 14px 0; 
    }

    #skills {
        padding: 0 8px 16px 8px; 
    }

    ul {
        padding: 0 8px; 
    }
}
