:host {
    width: 790px; 
    height: 1403px; 

    padding: 32px; 
    border-radius: 8px;

    color: #CCCCCC;
    background-color: #272822; 

    display: flex; 
    flex-flow: column nowrap;
}

mat-divider {
    background-color: #CCCCCC;
}

typewriter-text {
    margin: 12px 0; 
}