<personal-info id="personal-info"></personal-info>

<typewriter-text [text]="typewriterText"></typewriter-text>

<section-divider [title]="'# EXPERIENCE'"></section-divider>

<div id="experience">
  <app-entry 
  *ngFor="let e of entries.experience"
  [title]="e.title"
  [content]="e.content"
  [startDate]="e.startDate"
  [endDate]="e.endDate">
  </app-entry>
</div>

<section-divider [title]="'# EDUCATION'" style="margin-top: 48px; "></section-divider>

<div id="education">
  <app-entry 
  *ngFor="let e of entries.education"
  [title]="e.title"
  [content]="e.content"
  [startDate]="e.startDate"
  [endDate]="e.endDate">
  </app-entry>
</div>

<section-divider [title]="'# SKILLS'" style="margin-top: 48px; "></section-divider>

<div id="skills">

</div>