:host {
    width: 100%; 
    max-width: 790px; 
    height: 1403px; 

    padding: 32px; 
    margin: 32px 16px; 
    border-radius: 8px;

    color: #CCCCCC;
    background-color: #272822; 

    display: flex; 
    flex-flow: column nowrap;
}

typewriter-text {
    margin: 28px 0; 
}

section-divider {
    margin-bottom: 12px; 
}