:host {
    width: 100%; 
    max-width: var(--max-menu-width); 

    position: fixed;
    left: calc(((100% - var(--max-page-width)) / 2) + var(--max-page-width) + 16px); 

    margin: 32px 0; 
    border-radius: 8px;

    padding: 16px; 

    color: #CCCCCC;
    background-color: #272822; 

    display: flex; 
    flex-flow: column nowrap;

    transition: left .2s ease, max-width .2s ease, padding .2s ease, color .2s ease, background-color .2s ease; 
}

@media screen and (max-width: 1350px) {
    :host {
        max-width: 24px; 
        height: 24px; 

        left: unset; 
        right: 32px;
        bottom: 32px; 

        margin: 0; 
        padding: 12px;

        color: #272822;     
        background-color: #CCCCCC;
    }

    mat-icon {
        color: #272822;     
        margin-bottom: 4px; 
    }
}

@media screen and (min-width: 1351px) {
    a {
        font-size: 18px; 
    }

    a:hover {
        margin-left: 8px; 
    }
}

p {
    margin: 0; 
    display: flex; 
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

a {
    text-decoration: none;
    color: #CCCCCC; 

    margin: 0; 
    
    transition: margin .2s ease; 
}

a:visited {
    color: inherit; 
}
