:host {
    width: 100%; 
    
    display: flex; 
    flex-flow: row nowrap;
    justify-content: flex-start; 
    align-items: stretch; 
}

#date-range, 
#date-trail {
    display: flex; 
    flex-flow: column nowrap; 
}

#date-range {
    width: 30%; 
}

#date-trail {
    width: 5%; 
}

#date-range > span,
#date-trail > span {
    display: inline-flex; 
    align-items: center; 

    padding: 0 8px; 
}

#date-range > span, 
#date-trail > span,
#entry-info > span:first-of-type {
    height: 35px; 

    color: #272822;
    background-color: #CCCCCC; 
}

#date-range > span:first-of-type {
    align-self: flex-end;

    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px; 
}

#date-range > span:not(:first-of-type) {
    width: 70%; 

    align-self: flex-start;
    text-align: end; 

    border-top-right-radius: 8px; 
    border-bottom-right-radius: 8px; 
}

div .spacer {
    width: 100%; 
    height: auto; 
    min-height: 8px; 
    flex-grow: 1; 
}

#entry-info {
    width: 100%; 
    flex-shrink: 1;
}

#entry-info > span {
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: center; 
    align-items: center;

    transition: font-size .1s ease; 
}

#entry-info > span:first-of-type {
    font-size: 22px;
}

#entry-info > span:not(:first-of-type) {
    font-size: 16px; 
    margin: 16px;
    text-align: justify;
    justify-content: flex-start; 
}

#entry-info > span.largeTitle {
    font-size: 20px; 
}
