<div id="date-range">
  <span>&#x2022; 30/09/1992</span>
  <div class="spacer"></div>
  <span>30/09/1992 &#x2022;</span>
</div>

<div id="entry-info">
  <span> TITOLOZZO POTENTISSIMO </span>
  <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at lorem ante. Praesent ut ultrices lectus. Aliquam dignissim egestas nisl, id efficitur magna tincidunt vel. Fusce pretium vel nisi at varius. Sed finibus gravida lacus in egestas. Ut maximus lacus tincidunt neque consequat, sit amet fringilla elit faucibus. Sed in nibh sed metus luctus aliquam. Suspendisse et tellus ut velit interdum porta quis sit amet diam. Nulla elementum turpis vitae fermentum. </span>
</div>

<div id="date-trail">
  <span>&nbsp;</span>
</div>