:host {
    width: 100%; 
    height: 100%;

    background-color: #1E1F1C; 

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

    overflow-y: scroll; 
    scrollbar-width: thin;
}

/* For navigating to top of page from navmenu */
#top {
    visibility: hidden; 
    width: 0;
    height: 0; 
}
