
img {
    width: 142px;
    height: auto;
    border: 1px solid black; 
}

span {
    font-size: 14px;
}

p { margin: 0; }

p > span:not(:first-child) {
    margin-left: 6px; 
    align-self: flex-end; 
}

section {
    display: flex; 
    align-items: stretch; 
    column-gap: 32px; 
    padding: 0 32px;
}

section p {
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: flex-start; 
    align-items: stretch;
    margin: 6px 0 0 0; 
}

section > div {
    min-width: 1%; 
    padding: 8px 0;
    flex-grow: 1; 

    display: flex; 
    flex-flow: column nowrap; 
    justify-content: space-between;
    align-items: flex-start; 
}

.name span {
    font-weight: 500; 
    font-size: 36px; 
    margin: 0 0 6px 0;
}

.email {
    position: relative; 
}

.email * {
    transition: color .1s ease; 
}

.hideEmail {
    filter: blur(3px); 
}

.email:hover .hideEmail, 
.email:hover .hideEmailIcon {
    cursor: pointer; 
    color: white; 
}

.hideEmailIcon {
    position: absolute; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
}

/* ############# */
/* GLITCH EFFECT */
/* ############# */

.glitch-effect {
    display: grid;
    grid-template-columns: 1fr;
}

.glitch-effect span {
    grid-row-start: 1;
    grid-column-start: 1;

    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.glitch-effect span:nth-child(odd) { --glitch-translate: 8px; }
.glitch-effect span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }
    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }
    2% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  
        text-shadow: none; transform: none; 
    }
}